.button {
    @include flex(center, center, true);
    
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 15px;
    border-radius: var(--border-radius-12);
    border: var(--border-dark);

    &:not(:disabled) {
        @include hover {
            background-color: var(--color-light);
            color: var(--color-dark);
        }
    }

    &:disabled {
        cursor: no-drop;
        opacity: .5;
    }
}