.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 15px;
    border-radius: var(--border-radius-12);
    border: var(--border-dark);

    &:not(:disabled) {
        &:hover {
            background-color: var(--color-light);
            color: var(--color-dark);
        }
    }

    &:disabled {
        cursor: no-drop;
        opacity: .5;
    }
}