.todoInfo {
    @include flex(center, space-between);

    padding-bottom: 18px;
    border-bottom: var(--border-grey);
    margin-top: 43px;
}

.information {
    @include flex(center) {
        column-gap: 5px;
    }
}

.title {
    font-weight: var(--font-weight-semibold);
}

.counter {
    @include flex(center, center);
    
    background-color: var(--color-light-dark);
    padding: 8px;
    border-radius: var(--border-radius-21);
}